<% provide(:title, '帮助') %>

<h1>帮助</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">多少钱？</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">多少钱？</a>.
</p>
